body { 
	font-family: serif;
}

nav {
	display: none;
}

.bar {
	display: none;
}

.footer {
	display: none;
}

.langswitch {
	display: none;
}

a[href]:after {
	content: " <"attr(href)">";
	font-style: italic;
}
